# Lingkungan Virtual Python
venv/
env/
.venv/

# Cache dan file sistem
__pycache__/
*.pyc
.vscode/

# Dataset atau output (opsional, jika ukurannya besar)
*.csv
*.xlsx
*.pdf

# Folder data lokal lama (jika masih ada, abaikan)
backend/uploads/
backend/hasil_ekstraksi_web/
uploads/
hasil_ekstraksi_web/